#create-room-component {
    border: 1px solid black;
    background-color: #b4f9e4;
    box-shadow: inset 2px 2px 4px white, 2px 2px 4px #0c926a;
    width: 22.5vw;
}
#create-room {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-title {
    font-size: 4.2vw;
    text-align: center;
    margin-top: 2vh;
}
.input-labels {
    font-size: 3vw;
    margin: 3vh 0;
}
.create-room-inputs {
    height: 3vw;
    font-size: 1.8vw;
    width: 80%;
}
#create-room-description-input {
    height: 11vw;
}
#submit-button {
    margin: 4vh 0;
}
@media (max-width: 700px) {
    #create-room-component {
        margin: 5vh auto;
        height: 66vh;
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #form-title {
        font-size: 11vw;
    }
    .input-labels {
        font-size: 9vw;
    }
    .create-room-inputs {
        width: 80%;
        font-size: 7vw;
        text-indent: 2vw;
    }
    #create-room-name-input {
        height: 9vw;
    }
    #create-room-description-input {
        height: 27vw;
    }
    #submit-button {
        height: 10vw;
    }
}