#new-message-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#message-input {
    width: 60%;
    font-size: 180%;
}
#submit-message {
    width: 30%;
    margin-right: 2vw;
}